html, body {

    font-size: 16pt;
    font-family: arial;

    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100px;
}

h1 {

    margin: 0;
    padding: 0;
    line-height: 100px;
}


nav, ul {

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;

    background-color: orange;
}

ul {
    height: 100%;
    background-color: Lightblue;
    list-style-type: none;
}

li {
    display: block;
    float: left;
    
    height: 100%;
    width: 33%;

    text-align: center;

    line-height: 50px;
}

a {
    display: block;
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    background-color: black;
}


aside {
    width: 20%;
    height: calc(100% - 150px);
    float:left;

    background-color: darkblue;
}

.center {
    width: 60%;
    height: calc(100% - 150px);
    float:left;

    background-color: ;
    overflow: auto;
}


.pictures {
    margin: 0 auto;
    margin-top: 50px;
    
    width: 20%;
    height:250px;
    background-color: darkblue;

    overflow: auto;
}

.posters {

    margin: 140px;
    margin-top: 40px;

    float: center;
    width: 65%;
    background-color: black;

}

c {
    animation-duration: 10ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:blink 1800ms infinite; /* Safari and Chrome */
}
@keyframes blink {
    from {
        color:white;
    }
    to {
        color:white;
    }

}
@-webkit-keyframes blink {
    from {
        color:white;
    }
    to {
	color:white;
    }
}


 
