
html, body {

    font-size: 16pt;
    font-family: arial;

    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100px;
}

h1 {

    margin: 0;
    padding: 0;
    line-height: 100px;
}


nav, ul {

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;

    background-color: orange;
}

ul {
    height: 100%;
    background-color: Lightblue;
    list-style-type: none;
}

li {
    display: block;
    float: left;
    
    height: 100%;
    width: 33%;

    text-align: center;

    line-height: 50px;
}

a {
    display: block;
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    background-color: black;
}

aside {
    width: 15%;
    height: calc(100% - 150px);
    float:left;

    background-color: darkblue;
}

.center {
    width: 70%;
    height: calc(100% - 150px);
    float:left;

    background-color: red;
    overflow: auto;
}


.pictures {
    margin: 0 auto;
    margin-top: 50px;
    
    width: 80%;
    height:290px;
    background-color: dark-grey;

    overflow: auto;
}

.posters {

    margin: 40px;
    margin-top: 50px;

    float: left;
    width: 40%;
    background-color: red;

}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
        color:white;
    }
}



 
